body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.img{
    display: block;
    width: 150px;
    border-radius: 5px;
}

h3:hover {
    background-color: yellow;
  }

.card {
    width: 400px;
    margin: 0px auto;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #dce1de;
    color: #2b2839;
    border-bottom: 5px solid #d8cefe;
}


.blue-border{
    border: 1px solid #d8cefe;
    border-radius: 10px;
    border-bottom: 5px solid #d8cefe;  
}